body {
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  margin: 0;
  padding: 0;
}
body
nav {
  display: flex;
  justify-content: space-between ;
  align-items: center;
  background: #34af44;
  color: #fff;
  font-size: 20px;
}
#logo-ong {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
#logo {
  width: 60px;
  height: 50px;
  margin-right: 5px;
}
#menu {
  margin-right: 20px;
}
a {
  margin: 0 5px;
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
a.active, a:hover {
  background: #075f34;
  transition: .5s;
}
p {
  margin-left: 20px;
}